/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [dimTaxExemption_SK]
      ,[dimRollYear_SK]
      ,[dimTaxExemption_BK]
      ,[Exempt Tax Code]
      ,[Roll Year]
      ,[Exempt Tax Desc]
      ,[Exempt Tax]
      ,[Exempt Value Code]
      ,[Group Number]
      ,[Exemption Group Type]
      ,[Permissive Municipal]
      ,[Permissive Rural]
      ,[Statutory Municipal]
      ,[Statutory Rural]
      ,[Value Code]
      ,[RowSortOrder]
      ,[RowCurrentYN]
      ,[RowEffectiveDtm]
      ,[RowExpiryDtm]
      ,[RowCreatedDtm]
      ,[RowUpdatedDtm]
      ,[dimDataSource_SK]
      ,[SSISExecutionID]
      ,[CDC_Operation]
  FROM [EDW].[dbo].[dimTaxExemptionTbl]
  where [dimTaxExemption_SK] = 12