/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [factPropertyExemptionByClass_SK]
      ,[dimRollYear_SK]
      ,[dimProperty_SK]
      ,[dimPropertyClass_SK]
      ,[dimTaxExemption_SK]
      ,[dimCommercialSection_SK]
      ,[dimResidential_SK]
      ,[dimCommercial_SK]
      ,[dimOutbuilding_SK]
      ,[dimLand_SK]
      ,[dimLandRateType_SK]
      ,[dimLandModelType_SK]
      ,[dimMarshallSwiftOccupancy_SK]
      ,[dimHeatingType_SK]
      ,[dimStageRecreational_SK]
      ,[Characteristic1_dimImprovementCharacteristic_SK]
      ,[Characteristic2_dimImprovementCharacteristic_SK]
      ,[Characteristic3_dimImprovementCharacteristic_SK]
      ,[Characteristic4_dimImprovementCharacteristic_SK]
      ,[dimManualClass_SK]
      ,[dimOutbuildingStructureRate_SK]
      ,[ManualAdjustment1_dimLandManualAdjustment_SK]
      ,[ManualAdjustment2_dimLandManualAdjustment_SK]
      ,[ManualAdjustment3_dimLandManualAdjustment_SK]
      ,[ManualAdjustment4_dimLandManualAdjustment_SK]
      ,[ManualAdjustment5_dimLandManualAdjustment_SK]
      ,[LumpSum1_dimLandManualAdjustment_SK]
      ,[LumpSum2_dimLandManualAdjustment_SK]
      ,[dimFolioStatus_SK]
      ,[dimExpiredFolioReason_SK]
      ,[dimFolioDanger_SK]
      ,[dimChangeSource_SK]
      ,[dimActualUse_SK]
      ,[dimAssessmentGeography_SK]
      ,[dimNeighbourhood_SK]
      ,[dimJurisdiction_SK]
      ,[dimArea_SK]
      ,[dimRegion_SK]
      ,[dimRollCategory_SK]
      ,[dimCity_SK]
      ,[dimSchoolDistrict_SK]
      ,[Characteristic1_dimFolioCharacteristic_SK]
      ,[Characteristic2_dimFolioCharacteristic_SK]
      ,[Characteristic3_dimFolioCharacteristic_SK]
      ,[Characteristic4_dimFolioCharacteristic_SK]
      ,[Characteristic5_dimFolioCharacteristic_SK]
      ,[SITUS_dimCountry_SK]
      ,[SITUS_dimProvince_SK]
      ,[SITUS_dimCity_SK]
      ,[SITUS_dimStreetDirection_SK]
      ,[dimRegionalHospitalDistrict_SK]
      ,[dimIslandTrust_SK]
      ,[dimRegionalDistrict_SK]
      ,[dimElectoralDistrict_SK]
      ,[dimAgriculturalLandReserve_SK]
      ,[Roll Year]
      ,[dimProperty_BK]
      ,[dimTaxExemption_BK]
      ,[dimPropertyClass_BK]
      ,[dimJurisdiction_BK]
      ,[dimCommercialSection_BK]
      ,[dimResidential_BK]
      ,[dimOutbuilding_BK]
      ,[dimLand_BK]
      ,[Property Id]
      ,[Building Card Number]
      ,[Line Number]
      ,[Property Class Code]
      ,[Value Record Number]
      ,[Tax Exemption Code]
      ,[Tax Exemption Percentage]
      ,[Override To Calculated Percentage]
      ,[JUR_IAS]
  FROM [EDW].[edw].[factPropertyExemptionByClass]
  WHERE [dimProperty_SK] = 4637151

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [dimRollType_SK]
      ,[dimRollCycle_SK]
      ,[dimAssessmentType_SK]
      ,[dimPropertyClass_SK]
      ,[dimRollYear_SK]
      ,[dimFolio_SK]
      ,[dimManualClass_SK]
      ,[Current Cycle Flag]
      ,[dimAssessmentGeography_SK]
      ,[Folio Number]
      ,[Folio Number Display]
      ,[dimProperty_SK]
      ,[dimFolioStatus_SK]
      ,[Actual Land Value]
      ,[Actual Building Value]
      ,[Actual Total Value]
  FROM [EDW].[edw].[factValuesByAssessmentCodePropertyClass]
  WHERE [dimProperty_SK] = 4637151

