/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [dimRollYear_SK]
      ,[dimProperty_SK]
      ,[dimName_SK]
      ,[dimAddress_SK]
      ,[dimFolio_SK]
      ,[Roll Year]
      ,[Folio Number]
      ,[Folio Number Display]
      ,[Owner Number]
      ,[Owner Sequence]
      ,[Primary Owner Flag]
      ,[Full Name]
      ,[Full Address]
      ,[First Name]
      ,[Last Name]
      ,[Middle Name]
      ,[Name Prefix]
      ,[Name Suffix]
      ,[Company Name]
      ,[Percent Of Ownership For Primary Owner]
      ,[Agent Type]
      ,[Equity Type]
      ,[Equity Type Code]
      ,[Equity Type Desc]
      ,[Party Type]
      ,[Party Type Code]
      ,[Party Type Desc]
      ,[Agent Type Code]
      ,[Agent Type Desc]
      ,[Country Code]
      ,[Country Desc]
      ,[Country]
      ,[Province Desc]
      ,[City Desc]
      ,[Street Suffix]
      ,[Street Suffix 2]
      ,[Street Direction Desc]
      ,[Address Line 1]
      ,[Address Line 2]
      ,[Address Line 3]
      ,[Address Type Code]
      ,[Address Number Suffix]
      ,[Grid Address Number]
      ,[Street Number]
      ,[Address Street Name]
      ,[Carrier Route]
      ,[Postal Index Number]
      ,[Postal/Zip Code]
      ,[Address Unit Description]
      ,[Address Unit]
      ,[Site]
      ,[Compartment]
      ,[Address Line 4]
      ,[Address Line 5]
      ,[Street Prefix]
      ,[Property Name Status]
      ,[Suppress Assessment Notice]
      ,[Assessment Notice Returned]
      ,[Agent Expiration]
      ,[Care Of]
      ,[Owner Group ID]
      ,[Sequence]
      ,[Danger Code]
      ,[Suppress Tax Notice]
      ,[Bulk Code]
      ,[Tenant Mailout Recipient]
      ,[PIN Number]
      ,[Related PIN Number]
  FROM [EDW].[edw].[dimPropertyAllOwners]
  WHERe [dimProperty_SK] = 392543