/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000
	  [AR].Area
	  ,[JR].[Jurisdiction Code] + ' ' + [JR].[Jurisdiction Desc]
	  ,[AV].[Property Class Code]
	  ,[PC].[Property Sub Class Desc]
      ,[Gross Other Value]
      ,[Net Other Value]
      ,[Other Exemptions Value]
  FROM [edw].[FactAssessedValue] AS [AV] 
		INNER JOIN [edw].[dimPropertyClass] AS [PC] 
			ON [AV].[dimPropertyClass_SK] = [PC].[dimPropertyClass_SK] 
		INNER JOIN [edw].[dimAssessmentGeography] AS [AG] 
			ON [AV].[dimAssessmentGeography_SK] = [AG].[dimAssessmentGeography_SK]
		INNER JOIN [edw].[dimJurisdiction] AS [JR]
			ON [AG].[dimJurisdiction_SK] = [JR].[dimJurisdiction_SK]
		INNER JOIN [edw].[dimArea] AS [AR]
			ON [JR].[dimArea_SK] = [AR].[dimArea_SK]
		INNER JOIN [edw].[dimFolio] AS [FO]
			ON [FO].[dimFolio_SK] = [AV].[dimFolio_SK]


SELECT
		[AR].Area
		,[JR].[Jurisdiction Code]
		,[JR].[Jurisdiction Desc]
		,[AV].[Property Class Code]
		,[PC].[Property Sub Class Desc]
		,COUNT(DISTINCT CASE WHEN PC.[Property Class Code] = '01'AND AV.[Assessment Code] <> '01' THEN  AV.dimFolio_SK END) AS [Res Occur]
		,COUNT(DISTINCT CASE WHEN PC.[Property Class Code] <> '01' AND AV.[Assessment Code] = '01' THEN AV.dimFolio_SK END) AS [Non Res Occur]
		,COUNT(DISTINCT CASE WHEN PC.[Property Class Code] = '01' THEN  AV.dimFolio_SK END) AS [Folios]
  FROM [edw].[FactAssessedValue] AS [AV] 
		INNER JOIN [edw].[dimPropertyClass] AS [PC] 
			ON [AV].[dimPropertyClass_SK] = [PC].[dimPropertyClass_SK] 
		INNER JOIN [edw].[dimAssessmentGeography] AS [AG] 
			ON [AV].[dimAssessmentGeography_SK] = [AG].[dimAssessmentGeography_SK]
		INNER JOIN [edw].[dimJurisdiction] AS [JR]
			ON [AG].[dimJurisdiction_SK] = [JR].[dimJurisdiction_SK]
		INNER JOIN [edw].[dimArea] AS [AR]
			ON [JR].[dimArea_SK] = [AR].[dimArea_SK]
		INNER JOIN [edw].[dimFolio] AS [FO]
			ON [FO].[dimFolio_SK] = [AV].[dimFolio_SK]
GROUP BY [AR].Area
		,[JR].[Jurisdiction Code]
		,[JR].[Jurisdiction Desc]
		,[AV].[Property Class Code]
		,[PC].[Property Sub Class Desc]
ORDER BY [AR].Area
		,[JR].[Jurisdiction Code]
		,[JR].[Jurisdiction Desc]
		,[AV].[Property Class Code]
		,[PC].[Property Sub Class Desc]