/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [bridgeOwnerFolioAddress_SK]
      ,[dimRollYear_SK]
      ,[dimFolio_SK]
      ,[dimAddress_SK]
      ,[dimName_SK]
      ,[dimFolio_BK]
      ,[dimAddress_BK]
      ,[dimName_BK]
      ,[Roll Year]
      ,[Owner Number]
      ,[Owner Sequence]
      ,[IAS_JUR]
      ,[System Property ID]
      ,[Primary Owner Flag]
      ,[Version number of this record]
      ,[Current Record Indicator]
      ,[Care Of]
      ,[Percent Of Ownership For Primary Owner]
      ,[Party Type]
      ,[Property Name Status]
      ,[Suppress Assessment Notice]
      ,[Assessment Notice Returned]
      ,[Agent Expiration]
      ,[Agent Type]
      ,[Equity Type]
      ,[Owner Group ID]
      ,[Sequence]
      ,[Danger Code]
      ,[Suppress Tax Notice]
      ,[Bulk Code]
      ,[Tenant Mailout Recipient]
      ,[Deactivate date]
      ,[Iasworld Unique Row Identifier]
      ,[PIN Number]
      ,[Related PIN Number]
      ,[NA000_OID]
      ,[LA000_OID]
      ,[RA000_OID]
  FROM [EDW].[edw].[bridgeOwnerFolioAddress]
  where [dimAddress_SK] = 42339
  order by [dimFolio_SK]