/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [bridgeNameAddress_SK]
      ,[dimName_SK]
      ,[dimChangeCode_SK]
      ,[dimChangeSource_SK]
      ,[dimName_BK]
      ,[dimAddress_SK]
      ,[dimAddress_BK]
      ,[dimChangeCode_BK]
      ,[dimChangeSource_BK]
      ,[dimNameDanger_BK]
      ,[dimNameDanger_SK]
      ,[Address Number Suffix]
      ,[Address Street Name]
      ,[Address Type Code]
      ,[Address Unit]
      ,[Address Unit Description]
      ,[First Name]
      ,[Last Name]
      ,[Middle Name]
      ,[Company Name]
  FROM [EDW].[edw].[bridgeNameAddress]
  where [Address Street Name] is not null AND LEN([Address Street Name]) > 4
  order by [Address Number Suffix]
      ,[Address Street Name]
      ,[Address Type Code]
      ,[Address Unit]
      ,[Address Unit Description]