/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [bridgeFolioMinorTax_SK]
      ,[dimFolio_SK]
      ,[dimMinorTaxCode_SK]
      ,[dimJurisdiction_SK]
      ,[dimRegionalDistrict_SK]
      ,[dimElectoralDistrict_SK]
      ,[dimMinorTaxCategory_SK]
      ,[dimFolio_BK]
      ,[dimProperty_BK]
      ,[dimMinorTaxCode_BK]
      ,[dimJurisdiction_BK]
      ,[dimRegionalDistrict_BK]
      ,[dimElectoralDistrict_BK]
      ,[dimMinorTaxCategory_BK]
      ,[Roll Year]
      ,[Property Id]
      ,[Minor Tax Code]
      ,[Minor Tax Desc]
      ,[Minor Tax]
      ,[Minor Tax Annual Desc]
      ,[Minor Tax Category Code]
      ,[Minor Tax Category Desc]
      ,[Minor Tax Category]
      ,[Jurisdiction Code]
      ,[Jurisdiction Desc]
      ,[Jurisdiction]
      ,[Regional District Code]
      ,[Regional District Desc]
      ,[Regional District]
      ,[Electoral District Code]
      ,[Electoral District Desc]
      ,[Electoral District]
      ,[Roll Type]
  FROM [EDW].[edw].[bridgeFolioMinorTax]
  where [dimFolio_SK] = 4621915