/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [dimMinorTaxCode_SK]
      ,[dimMinorTaxCode_BK]
      ,[dimRollYear_SK]
      ,[dimJurisdiction_SK]
      ,[dimRegionalDistrict_SK]
      ,[dimElectoralDistrict_SK]
      ,[dimMinorTaxCategory_SK]
      ,[dimJurisdiction_BK]
      ,[dimRegionalDistrict_BK]
      ,[dimElectoralDistrict_BK]
      ,[dimMinorTaxCategory_BK]
      ,[Minor Tax Code]
      ,[Minor Tax Desc]
      ,[Minor Tax Annual Desc]
      ,[Minor Tax]
      ,[Minor Tax Display]
      ,[Roll Year]
      ,[JUR_IAS]
      ,[Minor Tax Category Code]
      ,[Minor Tax Category Desc]
      ,[Minor Tax Category]
      ,[Jurisdiction Code]
      ,[Jurisdiction Desc]
      ,[Jurisdiction]
      ,[Regional District Code]
      ,[Regional District Desc]
      ,[Regional District]
      ,[Electoral District Code]
      ,[Electoral District Desc]
      ,[Electoral District]
      ,[BCA Code]
      ,[Tax Base Code]
      ,[RowSortOrder]
  FROM [EDW].[edw].[dimMinorTaxCode]
  where [Minor Tax Display] like '%G - Building%' AND [Roll Year] = 2017

      SELECT [Minor Tax Code]
    FROM [EDW].[dbo].[dimMinorTaxCodeTbl]
    WHERE [Roll Year] = 2017
          AND [Minor Tax Desc] IN('Building Inspection SRVA#32')
