/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [dimRollType_SK]
      ,[dimRollCycle_SK]
      ,[dimAssessmentType_SK]
      ,[dimPropertyClass_SK]
      ,[dimRollYear_SK]
      ,[RollYearStart_dimDate_SK]
      ,[RollEffective_dimDate_SK]
      ,[Current Cycle Flag]
      ,[dimFolio_SK]
      ,[dimAssessmentGeography_SK]
      ,[Roll Object Id]
      ,[Roll Effective Date]
      ,[Roll Year]
      ,[Cycle Number]
      ,[Roll Type]
      ,[Folio Number]
      ,[Assessment Code]
      ,[Property Class Code]
      ,[Property Sub Class Code]
      ,[Gross General Land Value]
      ,[Gross General Building Value]
      ,[Gross Other Land Value]
      ,[Gross Other Building Value]
      ,[Gross School Land Value]
      ,[Gross School Building Value]
      ,[Net General Land Value]
      ,[Net General Building Value]
      ,[Net Other Land Value]
      ,[Net Other Building Value]
      ,[Net School Land Value]
      ,[Net School Building Value]
      ,[General Exemptions Land Value]
      ,[General Exemptions Building Value]
      ,[Other Exemptions Land Value]
      ,[Other Exemptions Building Value]
      ,[School Exemptions Land Value]
      ,[School Exemptions Building Value]
      ,[Actual Land Value]
      ,[Actual Building Value]
      ,[Folio Count]
  FROM [EDW].[edw].[FactAllAssessedAmounts]
  where [Roll Year] = 2017
  order by [Folio Number]