/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [bridgeJurisdictionSchoolDistrict_SK]
      ,[dimRollYear_SK]
      ,[dimJurisdiction_SK]
      ,[dimSchoolDistrict_SK]
      ,[dimJurisdiction_BK]
      ,[dimSchoolDistrict_BK]
      ,[Roll Year]
      ,[Jurisdiction Code]
      ,[Jurisdiction Desc]
      ,[Jurisdiction]
      ,[School District Code]
      ,[School District Desc]
      ,[School District]
      ,[RowCurrentYN]
      ,[RowSortOrder]
  FROM [EDW].[edw].[bridgeJurisdictionSchoolDistrict]
  where [Jurisdiction Code] = '764'
