/****** Script for SelectTopNRows command from SSMS  ******/
SELECT[dimMinorTaxCategory_SK]
      ,[dimMinorTaxCategory_BK]
      ,[Project Number Prefix]
      ,[Minor Tax Category Code]
      ,[Minor Tax Category Desc]
      ,[Minor Tax Category]
      ,[dimDataSource_SK]
      ,[RowEffectiveDtm]
      ,[RowCurrentYN]
      ,[RowCreatedDtm]
      ,[RowExpiryDtm]
      ,[SSISExecutionId]
      ,[RowUpdatedDtm]
      ,[CDC_Operation]
      ,[RowSortOrder]
  FROM [EDW].[dbo].[dimMinorTaxCategoryTbl]
  WHERE [dimMinorTaxCategory_SK] > 0
  ORDER BY [Minor Tax Category Code]