/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT [bridgeFolioMinorTax_SK]
      ,[FA].[dimFolio_SK]
      ,[dimMinorTaxCode_SK]
      ,[dimJurisdiction_SK]
      ,[dimRegionalDistrict_SK]
      ,[dimElectoralDistrict_SK]
      ,[dimMinorTaxCategory_SK]
      ,[dimFolio_BK]
      ,[dimProperty_BK]
      ,[dimMinorTaxCode_BK]
      ,[dimJurisdiction_BK]
      ,[dimRegionalDistrict_BK]
      ,[dimElectoralDistrict_BK]
      ,[dimMinorTaxCategory_BK]
      ,[FA].[Roll Year]
      ,[JUR_IAS]
      ,[Property Id]
      ,[Minor Tax Code]
      ,[Minor Tax Desc]
      ,[Minor Tax Annual Desc]
      ,[Minor Tax Category Code]
      ,[Minor Tax Category Desc]
      ,[Minor Tax Category]
      ,[Jurisdiction Code]
      ,[Jurisdiction Desc]
      ,[Jurisdiction]
      ,[Regional District Code]
      ,[Regional District Desc]
      ,[Regional District]
      ,[Electoral District Code]
      ,[Electoral District Desc]
      ,[Electoral District]
      ,[FA].[Roll Type]
      --,[Iasworld Unique Row Identifier]
      --,[Current Record Indicator]
      --,[Version Number Of This Record]
      --,[Date Of Last Batch Change]
      --,[User Id Of Last Maintenance]
      --,[Who Calc]
      ,[Project Number Prefix]
      ,[RowSortOrder]
	  ,[FA].[Actual Land Value]
  FROM [edw].[FactAllAssessedAmounts] AS [FA]
  INNER JOIN [edw].[bridgeFolioMinorTax] AS [BTC] ON [FA].[dimFolio_SK] = [BTC].[dimFolio_SK]
    AND [FA].[Roll Year] = [BTC].[Roll Year]
  
  WHERE [Minor Tax Code] = '04-76403GA'
  AND [FA].[Roll Year] = 2017
  AND [FA].[Property Sub Class Code] = '0101'
  
  ORDER BY [FA].dimFolio_SK