/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [FactActualValue_SK]
      --,[dimRollYear_SK]
      ,[RollYearStart_dimDate_SK]
      ,[RollEffective_dimDate_SK]
      ,[dimLinkEffectiveDate_SK]
      ,[dimRollEffectiveDate_SK]
      ,[dimRollCycle_SK]
      ,[dimPropertyClass_SK]
      ,[dimRollType_SK]
      ,[dimFolio_SK]
      ,[dimAssessmentGeography_SK]
      ,[dimAssessmentType_SK]
      ,[dimTaxExemption_SK]
      ,[dimManualClass_SK]
      ,[dimActualUse_SK]
      ,[dimAssessmentGeography_BK]
      ,[dimAssessmentType_BK]
      ,[dimRollType_BK]
      ,[dimRollCycle_BK]
      ,[dimFolio_BK]
      ,[dimPropertyClass_BK]
      ,[dimTaxExemption_BK]
      ,[dimActualUse_BK]
      ,[Roll Object Id]
      ,[Roll Effective Date]
      ,[Link Effective Date]
      --,[Roll Year]
      ,[Cycle Number]
      ,[Roll Type Code]
      ,[Folio Number]
      ,[Folio Number Display]
      ,[Assessment Code]
      ,[Property Class Code]
      --,[Exempt Tax Code]
      ,[Current Cycle Flag]
      ,[Actual Value]
      ,[Actual Folio Count]
	  ,[Exempt Tax],
	  [Exempt Tax Desc]
  FROM [EDW].[edw].[FactActualValue] as f
  inner join edw.dimTaxExemptions as t on t.dimTaxExemptions_SK = f.dimTaxExemption_SK

  --WHERE [dimFolio_SK] in (3886319,4245098,8071007)-- and [Property Class Code] = '07'
  WHERE [dimFolio_SK] in (3886319,8071007)-- and [Property Class Code] = '07'
  order by [dimFolio_SK]